body {
    color:black;
background-color: lavender;
}
.logo {
    background-color:blue;
    display: inline block;
    width: 80px;
    height: 40px;
}
.n12 {
    display: inline-block;
    display: inline;
    
}
ul.line{display: flex;}li a{
 display: inline-block;
 padding: 40px;
 width: auto;
 font-size: 10px;
 border-top: 2px solid;
 border-bottom: 2px solid;
 margin: 20px;
 text-decoration: none;
 width: 60px;
 text-align: center;
 background-color: darkgoldenrod;
 
}
.er {

text-align: left;
}
ul.line{display: flex;}li a:hover{
    color: blue;
}
li {
    list-style-type: none;
}
